:host {
  display: block;
  height: 100%;
}

.card-bg {
  background-image: url('/assets/images/storm-trooper.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}
