<div class="relative group w-full h-full cursor-pointer rounded flex bg-zinc-900 flex-col overflow-hidden shadow-lg px-6">
  <div class="w-full font-bold my-2">
    <ng-container *ngTemplateOutlet="cardTitle"></ng-container>
  </div>

  <ng-container *ngTemplateOutlet="cardSubTitle"></ng-container>

  <div class="pt-2">
    <ng-container *ngTemplateOutlet="cardCaption"></ng-container>
  </div>

  <div class="py-4 mb-2 text-gray-500 text-base">
    <ng-container *ngTemplateOutlet="cardBody"></ng-container>
  </div>

  <div class="text-gray-700 mt-auto justify-end text-end">
    <ng-container *ngTemplateOutlet="cardChips"></ng-container>
  </div>

  <div
    class="
      w-16 h-16
      absolute -bottom-8 -left-8
      rotate-45
      bg-black
      group-hover:bg-gray-300
      group-hover:transition-all duration-500 ease-in-out
    "
  ></div>
</div>
