<div class="flex flex-col md:flex-row lg:flex-row xl:flex-row 2xl:flex-row items-center gap-2 text-xl ps-2">
  <button
    *ngIf="!isLogged()"
    class="px-4 capitalize py-2 bg-gray-800"
  >
    <app-nav-link [link]="'login'" ></app-nav-link>
  </button>
  <button
    *ngIf="isLogged()"
    class="px-4 capitalize py-2 bg-gray-800"
  >
    <app-nav-link [link]="'logout'" ></app-nav-link>
  </button>
  <div *ngIf="!isOpen">
    <app-user-card
      *ngIf="isLogged()"
    ></app-user-card>
  </div>
</div>
