:host {
  height: 100%;
  display: block;
}

.bg {
  background-image: url('/assets/images/background-stars-desktop.jpeg');
  background-position: center top;
  background-repeat: repeat;
  min-height: 100vh;
  color: #ffffff;
}
